Label {
    color: white;
    -unity-text-align: upper-center;
}

.title{
    font-size:16px;
    color: white;
    align-self: center;
}


.item{
    align-self: auto;
    flex-direction: row;
}
.item-field{
    flex-grow: 0.8;
}
.item-button{
    flex-grow: 0.2;
}


